<h2><%=@user.username.capitalize%>'s Library</h2>

<h2>Edit Your Bookshelves Below</h2>


<div class='bookcase'>
  <% @user.shelves.each do |shelf| %>

    <form method='POST' action='/shelves/<%=shelf.id%>' >
      <input type='hidden' id='hidden' name='_method' value='PATCH'>
      
      <label>Shelf Name: </label>
      <input type='text' id='<%=shelf.id%>' name='shelf[name]' value='<%=shelf.name%>'><br/>

      <input type='submit' value='Edit Name'>
    </form>

    <form method='POST' action='/shelves/<%=shelf.id%>/delete'>
      <input type='hidden' id='hidden' name='_method' value='DELETE'>
      <input type='submit' value='Delete Shelf'>
    </form>


        <% shelf.books.each do |book| %>
          <ul>
            <li> <a href="/books/<%=book.id%>"><%= book.title %></a> by <%= book.author %>
          </ul>
      <% end %>
    <% end %>
</div>