<h2>Hi <%=@shelf.user.name%>!</h2>

<h4>Edit Your <%=@shelf.name%> Shelf Below</h4>

<form method='POST' action='/shelves/<%=@shelf.id%>' >
  <input type='hidden' id='hidden' name='_method' value='PATCH'>

  <table>
    <tr>   
      <td><h4>Shelf Name:</td>
      <td> <input type='text' id='<%=@shelf.id%>' name='shelf[name]' value='<%=@shelf.name%>'></h4></td>
    </tr>
  </table>
      <div class='booklist'>
        <span>Which of your books would you like to place on this shelf?</span><br/><br/>
        <% @shelf.user.books.all.each do |book| %>
            <input type='checkbox' name='shelf[book_ids][]' value='<%=book.id%>'
              id='<%=book.title%>' <%='checked' if @shelf.books.include?(book)%> > 
              <%=book.title%></input><br/>
          <% end %>
      </div>
    </tr>

  <table>
    <tr>
      <td><p>or create a new book:</p></td>
    </tr>

    <tr>
      <td><label for='booktitle'>Book Title:</td>
      <td><input type='text' name='book[title]'/>
        </label><br/></td>
    </tr>

    <tr>
      <td><label for 'bookauthor'>Book Author:</td>
      <td><input type='author' name='book[author]'/>
      </label><br/></td>

    <tr>
      <td><label for 'bookquote'>Favorite Quote:</td>
      <td><input type='text' name='book[quote]'/>
      </label><br/></td>
    </tr>

    <tr>
      <td><input class='button' type='submit' value='Edit'></td>
    </tr>
    
    </table>
  </form>

  <form method='POST' action='/shelves/<%=@shelf.id%>/delete'>
      <input type='hidden' id='hidden' name='_method' value='DELETE'>
      <input class='button' type='submit' value='Delete'>
    </form>

  <h6>WARNING: Deleting this shelf will delete all of its contents.
    </h6>