<h2>Hi <%=@shelf.user.name%>!</h2>

<h2>Edit Your Shelf Below</h2>

<form method='POST' action='/shelves/<%=@shelf.id%>' >
  <input type='hidden' id='hidden' name='_method' value='PATCH'>
        
  <h3>Shelf Name: </h3>
  <input type='text' id='<%=@shelf.id%>' name='shelf[name]' value='<%=@shelf.name%>'>


    <div>holds these great reads:
      <ul>
      <% @shelf.books.each do |book| %>
          <li><a href='/books/<%=book.id%>'>
            <%= book.title %> </a>
          </li>
        <% end %>
      </ul>
    </div>
    <input type='submit' value='Edit Name'>
</form>