<h2>Hi <%=@shelf.user.name%>!</h2>

<h2>Edit Your Shelf Below</h2>

<form method='POST' action='/shelves/<%=@shelf.id%>' >
  <input type='hidden' id='hidden' name='_method' value='PATCH'>
        
  <h3>Shelf Name:
  <input type='text' id='<%=@shelf.id%>' name='shelf[name]' value='<%=@shelf.name%>'><h3>


    <div class='booklist'>Shelf Books:<br/>
      <% @shelf.user.books.all.each do |book| %>
          <input type='checkbox' name='shelf[book_ids][]' value='<%=book.id%>'
            id='<%=book.title%>' <%='checked' if @shelf.books.include?(book)%> > 
            <%=book.title%></input><br/>
        <% end %>
    </div>
    <input type='submit' value='Submit Changes'>
</form>

<form method='POST' action='/shelves/<%=@shelf.id%>/delete'>
    <input type='hidden' id='hidden' name='_method' value='DELETE'>
    <input type='submit' value='Delete Shelf'>
  </form>

  <span>Warning: Deleting This Shelf will delete all of it's contents.
    </span>