<h2><%=@user.username.capitalize%>'s Library</h2>

<% if flash.has?(:notice) %>
  <%= flash[:notice] %><br/>
<% end %>


<% if @user.id == session[:user_id] %>
  <p>Enjoying a New Book?<br/> 
  <a href="/books/new">Add</a> it to the Collective</p>
<%end%>

<div class="bookcase">
  <% @user.shelves.each do |shelf| %>
    <div class='shelf'>
    <h3><a href='/shelves/<%=shelf.id%>'> <%=shelf.name%> </a></h3>
      <% shelf.books.each do |book| %>
        <ul>
          <li> <a href='/books/<%=book.id%>'><%= book.title %></a> by <%= book.author %>
        </ul>
      <% end %>
      </div>
    <% end %>
</div>