<h2><%=@user.username.capitalize%>'s Library</h2>

<% if flash.has?(:deleted) %>
  <%= flash[:deleted] %>
<% end %>


<% if @user.id == session[:user_id] %>
  <span>What's on Your Mind? Add Something <a href="/books/new">New</a></span>
<%end%>

<div class='bookcase'>
  <% @user.shelves.each do |shelf| %>
    <h3> <%=shelf.name%> </h3>
      <% shelf.books.each do |book| %>
        <ul>
          <li> <a href="/books/<%=book.id%>"><%= book.title %></a> by <%= book.author %>
        </ul>
      <% end %>
    <% end %>
</div>