<h2> Brain Feed </h2>
<h3>Welcome back, <%=current_user.name%>!</h3>

<span>Reading Something New? Add Your <a href='/books/new'class="button">New Book</a>
  to The Collective</span> </br>

<div class="brainfeed">
  <% Book.all.reverse.each do |book| %>
    <% if book.user %>
      <div class="user-shelves">
        <p>
          <a href='/users/<%=book.user.slug%>'>@<%=book.user.username.capitalize%></a>
          : "<%=book.quote%>" from their latest read:
          <a href='/books/<%=book.id%>'><%="'#{book.title}'"%></a>.
        </p>
      </div>
    <% end %>
  <% end %>
</div>