<h2> Books </h2>

<% Book.all.each do |book| %>
  <p><a href='/users/<%=book.user.slug%>'><%=book.user.username.capitalize%></a> has added 
  <a href="/books/<%=book.id%>"><%=book.title%></a> to their <a href='/shelves/<%=book.shelf.id%>'><%=book.shelf.name%></a> shelf.</p>
  <% end %>