<h2> Brain Feed </h2>
<!--list books starting with those most recently added-->

<span> Add <a href='/books/new'class="button">New</a> Book</a></span> </br>
<div class='brainfeed'>
  <% Book.all.reverse.each do |book| %>
    <div class="user-shelves">
    <p>
      <a href='/users/<%=book.user.slug%>'><%=book.user.username.capitalize%></a> has added 
      <a href='/books/<%=book.id%>'><%=book.title%></a> to their 
      <a href='/shelves/<%=book.shelf.id%>'><%=book.shelf.name%></a> shelf.
    </p>
    </div>
    <% end %>
</div>