<h3>Edit Your Book Below </h3>

<h2><%=@book.title%> <h2>
<h4>Author: <%=@book.author%></h4>

<p>"<%=@book.quote%>"</p>

<p>From your <a href="/shelves/<%=@book.shelf.id%>"><%=@book.shelf.name%></a> Bookshelf </p>

<form method='POST' action='/books/<%=@book.id%>'>
  <input type='hidden' id='hidden' name='_method' value='PATCH'>

  <table>

    <tr>

      <td><label>Title:</td>
        <td> <input type='text' name='book[title]' value='<%=@book.title%>' required>
      </label><br/> </td>
    </tr>

    <tr>
      <td><label>Author: </td>
      <td><input type='text' name='book[author]' value='<%=@book.author%>' required>
      </label><br/> </td>
    </tr>
    
    <tr>
      <td><label>Favorite Quote:</td>
      <td><textarea type='text' name='book[quote]' rows="6" cols="80" required><%=@book.quote%></textarea>
      <label><br/></td>
    </tr>

  </table>

  <table>
    <tr>
      <label>BookShelf:</label>
        <% @book.user.shelves.each do | shelf |%>
          <td><input type='radio' name='book[shelf_id]' value='<%=shelf.id%>'
            <%='checked' if @book.shelf == shelf %> required> 
          <%=shelf.name%>
          </input></td>
        <% end%>
    </tr>

    <tr>
      <td><input type='submit' value='submit changes'></td>
    </tr>
  </table>
</form>





