<h2><%=@book.title%> <h2>
<h4>Author: <%=@book.author%></h4>

<p>"<%=@book.quote%>"</p>

<p>From the <%=@book.shelf.name%></a> Bookshelf @ <a href="/users/<%=@book.user.slug%>">
  <%=@book.user.name%>'s Library</a>.</p>


<% if @book.user == current_user %>
  <form action='/books/<%=@book.id%>/edit' method='GET'>
    <input class='button' type='submit' value='Edit'></input>
  </form>
<% end %>


<% if @book.user == current_user %>
  <form method="POST" action="/books/<%=@book.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete" class='button'/>
  </form>
<%end%>


